@CHARSET "ISO-8859-1";
body{
	background-image:url(https://wallpapertag.com/wallpaper/full/c/a/a/157415-simplistic-wallpapers-1920x1080-lockscreen.jpg)
}
#login-name{
font-size: 65px;
font-family: arabic typesetting;
border-bottom-style: ridge;
color:white;
margin-top:30px;
}
#login{
background: -moz-linear-gradient(45deg, rgba(255,231,54,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,231,54,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(255,231,54,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(255,231,54,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(255,231,54,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(255,231,54,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#FFE736',GradientType=1 );
min-height:500px;
box-shadow: -10px -10px 9px #33cc33;
border-radius:1em;
}
.user{
font-size: 29px;
font-family: arabic typesetting;
color: white;
margin-top:30px;
}
.user1{
font-size: 29px;
font-family: arabic typesetting;
color: white;
margin-top:20px;
}
#iconn{
background-color: #5cb85c;
border-color: #4cae4c;
	border-radius: 2em;
color: white;
}
#iconn1{
background-color: #5cb85c;
border-color: #4cae4c;
	border-radius: 2em;
color: white;
}
#text1{

	border-radius: 2em;
	height: 40px;
	margin-left:10px;
}
#text2{
	border-radius: 2em;
	height: 40px;
	margin-left:10px;
}
.btn{
	width: 50%;
	float: left;
	height: 40px;
	font-size: 18px;
}